body{
	background: #FFF;
	font-family: "Arial";
	font-size: 16px;
	line-height: 1.5;
}

footer{
    background: #000;
    color: #FFF;
    padding: 12px;
}

footer a{
    color: #FFF;
    text-decoration: none;
}

footer a:hover{
    text-decoration: none;
}

footer p{
    text-align: justify;
}

footer ul{
    list-style: none;
}

footer ul li{
   text-align: left;
}

header {
    margin: 0 auto;
    padding: 30px 0 0;
    position: relative;
    width: 100%;
    z-index: 1000;
}

header img{
    height: 150px;
}

header h1{
    margin: 0 auto;
}

ul.redes-sociales{
	list-style: none;
}

.block {
    margin: 0 auto;
    max-width: 1130px;
    position: relative;
    width: 90%;
    z-index: 1;
}

.center{
	text-align: center !important; 
}

.copyright{
	background: #222222;
    color: #FFF;
    font-size: 12px;
    padding: 20px 0;
}

.copyright p:first-child{
    margin-bottom: 0;
}

.copyright p:last-child{
    margin-top: 0;
}

.copyright p:last-child:after{
    content: " -";
}

.copyright p:last-child:before{
    content: "- ";
}

.descripcion{
    color: #FFF;
    display: block;
    text-align: center;
}

.element-normal-bottom{
    margin-bottom: 72px!important;
}

.home-background{
	background: #333;
    background-attachment: fixed;
	background-image: url('../images/sunrise_background.jpg');
    background-size: cover;
    min-height: 200px;
    overflow: hidden;
}

.informacion{
    margin: 0 auto;
    overflow: hidden;
    z-index: 1;
}

/*.informacion h2{
    color: #868686;
    font-size: 34px;
    font-weight: 100;
    margin-bottom: 40px;
    text-align: center;
}

.informacion img{
    width: 100%;
}*/

.item{
    float: left;
    width: 50%;
}

.item img{
    width: 100%;
}

.logo-footer img{
    height: 120px;
}

.menu-principal{
    background: url('../images/bg_nav.png') top left repeat;
    margin-top: 20px;
    padding: 3px 0;
}

.redes-sociales{
    list-style: none;
    margin: 0;
    position: absolute;
    right: 10px;
    top: 10px;
}

.redes-sociales a{
	background: #FFF;
    border-radius: 100%;
    color: #000;
    display: inline-block;
    font-size: 23px;
    opacity: 0.5;
    text-align: center;
    width: 1.5em;
}

.redes-sociales a:hover{
	background: #FFF;
    opacity: 0.8;
}

.redes-sociales li{
	color: #6B6B6B;
    float: left;
    font-size: 14px;
    padding: 0 2px 0 5px;
}

.servicios{
    background-image: url('../images/bg_diamond.png');
    padding: 20px 0;
    text-align: center;
}

.slogan{
    background: url('../images/bg_slogan.png') top left repeat;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #fff;
    margin: 11% auto 11%;
    padding: 30px;
    text-align: center;
}

.slogan h2 {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 25px;
}

.slogan p {
    font-size: 34px;
    font-weight: 100;
}

.testimonials-inner {
    border-top: 1px solid #EAEAEA;
    padding-bottom: 44px;
    position: relative;
}

.testimonials-author{
    color: #1A1A1A;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: .46em;
    text-transform: uppercase;
}

.testimonials-inner img{
    height: 150px;
    margin-bottom: 20px;
    margin-top: -74px;
}

.testimonials-inner h2{
    margin-bottom: 20px;
}

.testimonials-text {
    margin-bottom: 34px;
}

.testimonials-text p {
    color: #3C3F41;
    font-family: "kepler-std",serif;
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
    letter-spacing: .25px;
    line-height: 33px;
    margin-bottom: .8em;
}

.top-page{
	background: #000;
	color: #FFF;
	float: right;
	height: 2em;
	opacity: 1;
	width: 2em;
}

.top-page:hover{
	color: #FFF;
}

.ubicacion p{
    margin-bottom: 0;
    margin-top: 0;
}